@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

:root {
  font-family: 'sans-serif';
  background-color: rgba(241, 167, 6, 0.07);
}

.app {
  margin: 0 auto;
  max-width: 1024px;
  min-height: 100vh;
}

.tasksContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.category {
  flex-basis: 5vh;
  line-height: 5vh;
  border-bottom: 1px dotted #ddd;
}

.addTask {
  flex-basis: 20vh;
  padding: 20px 0;
  border-bottom: 1px dotted #ddd;
}

.taskList {
  flex-basis: 62vh;
  flex-grow: 1;
}

.footer {
  flex-basis: 5vh;
  line-height: 5vh;
  border-top: 1px dotted #ddd;
  text-transform: lowercase;
  text-align: center;
  font-size: 14px;
}

@media (max-width: 667px) and (orientation: landscape) {
  .footer {
    flex-basis: 8vh;
    line-height: 8vh;
    font-size: 10px;
  }
}